body {
    background: #2C3639;
    color: #DCD7C9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 100px 0px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
    font-size: 2cm;
    padding: 70px 0;
}

.button {
    border: 1px solid #DCD7C9;
    border-radius: 10px;
    background-color: #3F4E4F;
    color: #DCD7C9;
    width: 150px;
    height: 50px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    left: 0;
    margin: 40px auto;
    padding: 50px 50px;

}

.col-sm {
    border-radius: 10px;
}

.github {
    color: #171515;
    transition: color 0.2s;
    font-size: 25px;
    text-decoration: none;
}

.github,
.linkedin:hover {
    opacity: 0.9;
}

.linkedin {
    color: #0072b1;
    transition: color 0.2s;
    font-size: 25px;
    text-decoration: none;
}